* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background: #111;
	color: #fff;
	font-family: Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

button {
	background: inherit;
	border: none;
}

header {
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}

h1 {
	font-family: cursive, Arial, sans-serif;
	font-size: 3em;
	text-align: center;
}

#round-info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
	overflow: hidden;
}

h2 {
	font-size: 2.5em;
	margin: 24px;
	text-align: center;
}

.info {
	font-size: 1.5em;
	text-align: center;
}

.container {
	display: flex;
	gap: 64px;
	justify-content: center;
}

.container__box {
	font-size: 6em;
	padding: 32px;
	background: #222;
	border-radius: 16px;
}

.container__box:hover {
	background: #333;
	cursor: pointer;
}

.player {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

#player-box {
	font-size: 6em;
	padding: 32px 16px;
	margin: 0 32px 8px 32px;
}

#player-para {
	font-size: 1.5em;
}

#player-score {
	font-size: 2em;
}

.computer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

#computer-box {
	font-size: 6em;
	padding: 32px 16px;
	margin: 0 32px 8px 32px;
}

#computer-para {
	font-size: 1.5em;
}

#computer-score {
	font-size: 2em;
}

.player-selection {
	max-width: 619px;
	margin: 32px auto 188px;
	display: flex;
	justify-content: start;
	overflow: auto;
}

/* Slider */

.swiper {
  width: 80%;
  max-width: 400px;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	justify-tracks: flex-end;
	width: 100%;
	background: #000;
	padding: 16px;
	font-size: 1.3em;
	text-align: center;
	overflow: hidden;
}

#folio-link {
	font-size: 1.5em;
}

.attribution {
	margin-top: 16px;
}

.attribution a {
	text-decoration: underline;
}

@media (max-width: 400px) {
	#player-box {
		font-size: 4em;
	}

	#player-para {
		font-size: 1.2em;
	}

	#player-score {
		font-size: 1.5em;
	}

	#computer-box {
		font-size: 4em;
	}

	#computer-para {
		font-size: 1.2em;
	}

	#computer-score {
		font-size: 1.5em;
	}
}